<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
</head>
<body>
    <h1>User Registration</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }}
            {{ form.username(size=20) }}
            {{ form.username.errors }}
        </div>
        <div>
            {{ form.password.label }}
            {{ form.password }}
            {{ form.password.errors }}
        </div>
        <div>
            {{ form.firstname.label }}
            {{ form.firstname }}
            {{ form.firstname.errors }}
        </div>
        <div>
            {{ form.lastname.label }}
            {{ form.lastname }}
            {{ form.lastname.errors }}
        </div>
        <div>
            {{ form.email.label }}
            {{ form.email }}
            {{ form.email.errors }}
        </div>
        <div>
            {{ form.location.label }}
            {{ form.location }}
            {{ form.location.errors }}
        </div>
        <div>
            {{ form.biography.label }}
            {{ form.biography }}
            {{ form.biography.errors }}
        </div>
        <div>
            {{ form.profile_photo.label }}
            {{ form.profile_photo }}
            {{ form.profile_photo.errors }}
        </div>
        <button type="submit">Register</button>
    </form>
</body>
</html>